{% extends "base.html" %}

{% block content %}
<div class="row pt-5">
    <div class="col-8">
        <h2> Public Events</h2>
            {% if events %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Date</th>
                            <th scope="col">Organizer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                        <tr>
                            <td><a href="/web/event/{{ event[3] }}">{{ event[0] }}</a></td>
                            <td>{{ event[1] }}</td>
                            <td>{{ event[2] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="error-text">
                    {{ error_message }}
                </div>
            {% endif %}
        </div>
    <div class="col-4 bg-light">
        <div class="row">
            <h2> Create Event </h2>
        </div>
        <form class="needs-validation" action="{{ url_for('create_event') }}" method="POST" enctype="multipart/form-data" novalidate>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="type" class="form-control" name="title" id="title" required placeholder="Title">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description" required placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" name="date" id="date" required placeholder="Today">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="publicprivate" id="public" value="public" checked>
                <label class="form-check-label" for="public"> Public </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="publicprivate" id="private" value="private">
                <label class="form-check-label" for="private"> Private </label>
            </div>
            <div class="form-group pb-2">
                <label for="invites"> Invite users</label>
                <textarea class="form-control" name="invites" id="invites" placeholder='Invite users: (enter usernames with ";" inbetween)'></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% if feedback.category and feedback.message %}
        <div id="feedback" class="mt-3">
            <div class="alert alert-{{ feedback.category }}">{{ feedback.message }}</div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
