{% extends "base.html" %}

{% block content %}
<div class="row pt-5">
    <div class="col">
        {% if invites %}
        <h2> Showing the invites you have not yet responded to</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Organizer</th>
                    <th scope="col">Private event?</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            {% for invite in invites %}
            <tr>
                <td><a href="/web/event/{{ invite[0] }}">{{ invite[1] }}</a></td>
                <td>{{ invite[2] }}</td>
                <td>{{ invite[3] }}</td>
                <td>{{ invite[4] }}</td>
                <td>
                    <button class="btn btn-primary participate-btn" value="{{ invite[0] }}" data-title="{{ invite[1] }}" data-date="{{ invite[2] }}" data-organizer="{{ invite[3] }}" data-private="{{ invite[4] }}">Participate</button>
                    <button class="btn btn-primary participate-btn" value="{{ invite[0] }}" data-title="{{ invite[1] }}" data-date="{{ invite[2] }}" data-organizer="{{ invite[3] }}" data-private="{{ invite[4] }}">Maybe Participate</button>
                    <button class="btn btn-primary participate-btn" value="{{ invite[0] }}" data-title="{{ invite[1] }}" data-date="{{ invite[2] }}" data-organizer="{{ invite[3] }}" data-private="{{ invite[4] }}">Don't Participate</button>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <h2>{{ error_message }}</h2>
        {% endif %}
    </div>
</div>

<script>
    $(document).ready(function(){
        $(".participate-btn").click(function(){
            var eventStatus = $(this).text();
            var eventId = $(this).val();
            var eventTitle = $(this).data('title');
            var eventDate = $(this).data('date');
            var eventOrganizer = $(this).data('organizer');
            var eventPrivate = $(this).data('private');

            $.ajax({
                url: '/web/invites',
                type: "POST",
                data: JSON.stringify({
                    'event': eventId,
                    'status': eventStatus,
                    'title': eventTitle,
                    'date': eventDate,
                    'organizer': eventOrganizer,
                    'private': eventPrivate
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(response){
                    if(response.category && response.message) {
                        var alertClass = 'alert-' + response.category;
                        var alertHtml = '<div class="alert ' + alertClass + '" role="alert">' + response.message + '</div>';
                        $("body").prepend(alertHtml);  // Show the alert at the top of the page
                        setTimeout(function() {
                            window.location.reload();  // Reload the page after a short delay
                        }, 1500);  // Adjust the delay as needed
                    } else {
                        window.location.reload();  // Fallback to reload the page immediately
                    }
                },
                error: function(xhr, status, error){
                    console.error("There was an error processing your request:", error);
                    alert("There was an error processing your request.");
                }
            });
        });
    });
</script>

{% endblock %}
